<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  
<div class="l0"style="text-align:center">
  
  <div class="l1">
    <h2 class="l2">Blotter</h2>

    
    <div class="col-md-12 l3">
      <br>
      <!-- <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox"> -->
      <br>
      <br>
      <table class="table table-bordered l4">
          
        <thead>
          <tr style="color: white;">
            <th *ngFor="let col of dataColumn">
              <div>
                  <div> {{col.column_name}}</div>

                  <div *ngIf="'Time' == col.column_name">
                      <button (click)="asc == 1 ? sortDesc() : sortAsc()">Sort</button>
                      <!-- <button (click)="sortMe()">Sort</button> -->
                  </div>

                  <div *ngIf="'CcyPair' == col.column_name">
                      <input [(ngModel)]="ccyPairFilter"  (ngModelChange)="filterGrid()" placeholder="Search.." class="advancedSearchTextbox">
                  </div>


                  <div *ngIf="'Status' == col.column_name">
                      <input [(ngModel)]="statusFilter" placeholder="Search.."(ngModelChange)="filterGrid()"  class="advancedSearchTextbox">
                  </div>
  
              </div>
            </th>
              
            
          </tr>
        </thead>
        
        <tbody *ngFor="let val of filteredData">
          <tr>
            <td class="c1">{{val.Time}}</td>

            
            <td class="c2" [ngClass]="{
              'buy' : val.Side == 'Buy',
              'sell' : val.Side == 'Sell'
              }">{{val.Side}}</td>
            
            <td class="c3">{{val.OrderType}}</td>
            <td class="c4">{{val.CcyPair}}</td>
            <td class="c5">{{val.Price}}</td>
            <td class="c6">{{val.Amount}}</td>
            <td class="c7" [ngClass]="{
              'filled': val.Status == 'Filled',
              'working': val.Status == 'Working',
              'cancelled': val.Status == 'Cancelled'
              }">{{val.Status}}</td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
</div>
<div class="l7"></div>