.l0{
    background-color: #FFF;
    margin-top: 4cm;
    margin-bottom: 4cm;
}

.l1{
    background-color: black;
    padding-top: 1cm;
}
.l2{
    color: white;
    text-align: left;
    padding-left: 2cm;
     
}

.l3{
    margin-top: 1cm;
    margin-bottom: 1cm;
    
}

.l4{
    background-color: #01325B;
    
}

.l7{
    margin-top: -4cm;
    height: 1cm;
    width: auto;
    background-color: black;
}


.c1,.c3,.c4,.c5,.c6{
    color: #FFC200;
}

.buy{
    color: #00A95D;
}
.sell{
    color: #E7152D;
}

.filled{
    color: #A9A9A9;
}
.working{
    color: #FFF;
}
.cancelled{
    color: #E7152D;
}