<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  
  <div class="l1">
    <h2 class="l2">Blotter</h2>
    <div class="col-md-10">
  
      <table class="table table-bordered l4">
        <thead>
          <tr style="color: white;">
            <th scope="col">{{displayedColumns[0]}}</th>
            <th scope="col">{{displayedColumns[1]}}</th>
            <th scope="col">{{displayedColumns[2]}}</th>
            <th scope="col">{{displayedColumns[3]}}</th>
            <th scope="col">{{displayedColumns[4]}}</th>
            <th scope="col">{{displayedColumns[5]}}</th>
            <th scope="col">{{displayedColumns[6]}}</th>
          </tr>
        </thead>
        <tbody *ngFor="let val of dataSource">
          <tr>
            <td class="c1">{{val.Time}}</td>

            
            <td class="c2" [ngClass]="{
              'buy' : val.Side == 'Buy',
              'sell' : val.Side == 'Sell'
              }">{{val.Side}}</td>
            
            <td class="c3">{{val.OrderType}}</td>
            <td class="c4">{{val.CcyPair}}</td>
            <td class="c5">{{val.Price}}</td>
            <td class="c6">{{val.Amount}}</td>
            <td class="c7" [ngClass]="{
              'filled': val.Status == 'Filled',
              'working': val.Status == 'Working',
              'cancelled': val.Status == 'Cancelled'
              }">{{val.Status}}</td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
</div>
<h4>I am printed</h4>
<div>
  <li *ngFor="let cval of dataSource">
      <h4>I am coming here</h4>
      <h5>{{cval.Time}}</h5>
  </li>
</div>


<div *ngFor="let order of orders">
  {{order.Time}}
</div>
